/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sankofa+Display&display=swap');

/* Variáveis de cores */
:root {
  --color-light-grey: #3a3a3a42;
  --color-dark-grey: #1a1a1a;
  --color-light-cian: #08b1a0;
  --font-kanit: 'Kanit', serif;
  --white-smoke: whitesmoke;
  --gradient-cian: linear-gradient(to right, #35978d, #1e5650);
}

* {
    padding: 0;
    box-sizing: border-box;
}


html, body {
    font-size: 1.075em;
    height: 100%;
    margin: 0;
    background: rgba(240, 238, 233, 0.952);
    padding: 0;
}

.navbar-brand {
    text-decoration: none;
}

.navbar-brand:hover {
    text-decoration: none;
    color: #35978d;
}

/* Container principal */
#container {
    min-height: 85%;
    padding-bottom: 5%;
}

/* Estilo da tabela */
.table {
    border-radius: .6em;
}

.table th {
    padding: 1.2em;
    color: var(--color-light-cian);
}

.table td {
    padding: 1.2em;
}

/* Estilos gerais para links */
a {
    color: var(--color-light-cian, #17a2b8);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
  margin-top: 2.9em;
  min-height: 20%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4em;
  background: var(--color-dark-grey);
  color: #f5f5f5;
  text-align: center;
  font-size: 1.075em;
}

.footer_markdown p {
  color: rgb(245, 245, 245);
}

.footer_markdown span {
  text-decoration: underline;
  color: var(--color-light-cian);
}

.footer_copyright p {
  color: var(--color-light-cian);
}

.footer_ifpb img {
  transform: scale(.7);
}

.footer_ifpb p {
  color: var(--color-light-cian);
}

i {
  cursor: pointer;
}

/* Media query para telas grandes */
@media (min-width: 1920px) {
    .navbar-brand {
        font-size: 1.8em;
    }

    .container .table {
        width: 44em;
        min-height: 16em;
        font-size: 1.2em;
    }

    td, tr {
        padding-top: 2em;
    }
}

/* Media query para telas pequenas (até 480px) */
@media (max-width: 480px) {
    footer {
      display: block;
    }
}

/* Media query para telas médias (entre 481px e 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  footer {
    display: block;
    text-align: center;
  }
}